.input {
  height: 75px;
  border-radius: 50px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: #0a0a23;
  color: white;
  padding: 1rem;
  padding-right: 3rem;
  border: 1px solid #888;
  box-shadow: -1px 4px 1px 1px white; 
  overflow: hidden;
}